# Ignore everything
**

# Allow files and directories
!/packages/web/dist
# !/packages/web/package.json
# !/packages/web/pnpm-lock.yaml

!/packages/server/dist
!/packages/server/package.json
!/packages/server/pnpm-lock.yaml

**/node_modules
