# Ignore everything
**

# Allow files and directories
# !/submodules
!/.qovery.yml

!/submodules/web-frontend/dist
!/submodules/web-server/dist
!/submodules/web-server/package.json
!/submodules/web-server/yarn.lock

**/node_modules
