[submodule "submodules/web-server"]
	path = submodules/web-server
	url = git@github.com:rep2recall/web-server.git
[submodule "submodules/web-frontend"]
	path = submodules/web-frontend
	url = git@github.com:rep2recall/web-frontend.git
