[submodule "submodules/server"]
	path = submodules/server
	url = https://gitlab.com/rep2recall/rep2recall-web-server.git
[submodule "submodules/frontend"]
	path = submodules/frontend
	url = https://gitlab.com/rep2recall/rep2recall-web-frontend.git
