branches:
  only:
    - master

image: Visual Studio 2017

platform:
  - x64

cache:
  - packages\e-app\node_modules
  - packages\e-server\node_modules
  - packages\e-web\node_modules
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

environment:
  GH_TOKEN:
    secure: TXtSpQSnYgiwVuZ3+qlPiY55BJ0Ah8RmRLM1AUjwXIttEuAPpEK8zimvgHgF646k
  OUT_DIR:

install:
  - ps: Install-Product node 12 x64
  - ps: $env:Path = "C:\Program Files\Git\bin;$env:Path"
  - npm i -g cross-env
  - curl -sf https://gobinaries.com/tj/robo | cross-env PREFIX=. sh

build_script:
  - cd packages\e-web && npm i && cd ..\..
  - cd packages\e-server && npm i && cd ..\..
  - cd packages\e-app && npm i && cd ..\..
  - cd packages\e-server
  - npm i && npm run dist
  - cd ..\..
  - |
    cross-env-shell "\
    cd packages/e-web &&\
    npm run build -- --dest ../e-app/web &&\
    cd - &&\
    cd packages/e-server &&\
    npm run build -- --outDir ../e-app/server &&\
    cd - &&\
    cd packages/e-app &&\
    npm run build"

deploy:
  - provider: GitHub
    auth_token:
      secure: cOCsr5nxEGGYV0CvAfvxAjEofm0p2Qw2AM76Pvr112YVpmqWu15KA+31GvzBTTmX
    artifact: dist/rep2recall-local-server-win-x64
    draft: true
    on:
      branch: master

test: off