@use "@material/drawer";
@use "@material/list";

@include drawer.core-styles;
@include list.core-styles;

$hamburger-layer-color: #fff;

@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

html, body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.flex-grow {
	flex-grow: 1;
}
