.app {
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    
}

.app.active {
    grid-template-columns: max-content auto;
    height: 100vh;
}

.main {
    display: inline-grid;
    grid-template-rows: max-content auto;
}

.quiz-preset-link {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    color: inherit;
    pointer-events: unset !important;
}