html, body {
  &::-webkit-scrollbar {
    display: none;
  }
}

.v-dialog__content {
  max-width: 100vw;
  max-height: 100vh;
}

.v-overflow-btn.v-input--is-disabled .v-btn {
  color: rgba(0, 0, 0, 0.38);
}